<!DOCTYPE html>
<html>
	<head>
		<title>CV</title>
		<link rel="stylesheet"href="flexstyle.css">
	</head>
	<body>
		<div class = "container-1">
			<div class = "flexbox-item flexbox-item-1">
				<h1>E Michelle Hegarty</h1>
				<h3>x21149968@student.ncirl.ie</h3>
			</div>
		</div>
		<div class = "container-2">
			<div class = "subbox-1">
				<h2>Education</h2>
				<p>Bachelor of Economics </p>
				<p>Masters Degree in Business Studies</p>
				<p>Higher Diploma in Digital Business</p>
			</div>
			<div class = "subbox-2">
				<h2>Experience</h2>
				<p>Financial Data Analyst, Thomson Reuters Financial Services</p>
			</div>
			<div class = "subbox-3">
				<h2>Skills</h2>
				<p>Adobe Photoshop, Audition, Premier Pro</p>
				<p>Video editing, podcast production</p>
			</div>
		</div>
	</body>

</html>